# Base de datos (MongoDB Atlas -> Connect -> Drivers -> copiar connection string)
MONGODB_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/catalogo_ropa?retryWrites=true&w=majority

# Cloudinary (Dashboard -> Account details)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Seguridad
JWT_SECRET=cambia_esto_por_un_texto_largo_y_aleatorio
ADMIN_USERNAME=tu_usuario_admin
ADMIN_PASSWORD_HASH=se_genera_con_npm_run_hash-password

# Puerto (Render lo asigna automáticamente, esto es solo para probar local)
PORT=3000
